<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:aratu="http://www.aratuweb.com.br"
	layout:decorate="~{leiaute/LayoutPadrao}">

<head>
	<title>Empresas</title>
</head>
		
<body>
	<div layout:fragment="conteudo">
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div>
						<h1>Cadastro de empresas</h1>		
					</div>
					<div class="ml-auto">						
						<div class="float-sm-right">					
							<a class="btn btn-sm btn-primary" th:href="@{/empresas}">
								<i class="fa fa-search"></i> 
								<span>Pesquisar</span>
							</a>					
						</div>							
					</div>					
				</div>			
			</div>
		</div>

		<div class="content">
			<div class="container-fluid">
				<form th:action="${empresa.novo} ? @{/empresas/novo} : @{/empresas/{id}(id=${empresa.id})}" 
						th:object="${empresa}" method="post" enctype="multipart/form-data">
					<aratu:message/>					
					<div class="row">
						<div class="col-md-6 col-xs-12 section top">
							<div class="card">
								<div class="card-header with-border">
									<h4 class="card-title">Perfil</h4>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="form-group col-sm-4 col-md-4 col-xs-12">
											<div class="row">
												<div class="image">
													<img src="https://picsum.photos/200" 
														class="img-circle elevation-2" style="width: 100px;" alt="Empresa">
												</div>											
											</div>
											<div class="row">
												<div class="info">
													<a href="#">Selecione imagem</a>													
												</div>
											</div>
										</div>
										<div class="col-sm-8  col-md-8 col-xs-12">
											<div class="row form-group">
												<input type="text" id="id" th:field="*{id}" 
													class="form-control" placeholder="#Código"
													readonly="readonly" />
											</div>
											<div class="row form-group">
												<select id="loja" class="form-control" th:field="*{loja}">
													<option value="1">Loja 1</option>
													<option value="2">Loja 2</option>
													<option value="3">Loja 3</option>
													<option value="4">Loja 4</option>
													<option value="5">Loja 5</option>
													<option value="6">Loja 6</option>
													<option value="7">Loja 7</option>
													<option value="8">Loja 8</option>
													<option value="9">Loja 9</option>
													<option value="10">Loja 10</option>
												</select>
											</div>																		
										</div>
									</div>
									<div class="row form-group">
										<input type="text" id="razaoSocial" th:errorclass="is-invalid" 
											th:field="*{razaoSocial}" class="form-control" 
											autocomplete="off" placeholder="Razão social"/>
									</div>
									<div class="row form-group">
										<input type="text" id="nomeFantasia" th:errorclass="is-invalid" 
											th:field="*{nomeFantasia}" class="form-control"
											autocomplete="off" placeholder="Nome fantasia"/>
									</div>
									
									<div class="row form-group">
										<input type="text" class="form-control" id="responsavel" th:errorclass="is-invalid" 
											th:field="*{responsavel}" autocomplete="off" placeholder="Nome do Responsável" />
									</div>
								</div>									
							</div>								
							<div class="card">
								<div class="card-header with-border">
									<h4 class="card-title">Documentos</h4>
								</div>
								<div class="card-body">
																		
									<div class="row">
										<div class="form-group col-md-6">
											<input type="text" class="form-control" 
												id="cnpj" th:field="*{cnpj}" 
												autocomplete="off"
												placeholder="CNPJ"
												th:errorclass="is-invalid" />
										</div>
										<div class="form-group col-md-6">
											<input type="text" class="form-control" 
												id="inscricaoEstadual" th:field="*{inscricaoEstadual}"
												autocomplete="off" 
												placeholder="Inscrição estadual"
												th:errorclass="is-invalid" />											
										</div>
									</div>
									<div class="row">
										<div class="form-group col-md-6">
											<input type="text" class="form-control" 
												id="inscricaoMunicipal" th:field="*{inscricaoMunicipal}" 
												autocomplete="off"
												placeholder="Inscrição municipal"/>
										</div>
										<div class="form-group col-md-6">
											<input type="text" class="form-control"
												id="cadastro-empresa-cnae" th:field="*{cnae}"
												autocomplete="off"
												placeholder="CNAE"/>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-md-6">
											<input type="text" class="form-control"
												id="documentoResponsavel" th:field="*{documentoResponsavel}"
												autocomplete="off"
												placeholder="Documento do responsável"
												th:errorclass="is-invalid" />
										</div>
									</div>
								</div>									
							</div>								
						</div>
						
						
						<div class="col-md-6 col-xs-12 section top">
							<div class="card">
								<div class="card-header with-border">
									<h4 class="card-title">Endereço</h4>
									<div class="card-tools">										
					                	<button type="button" class="btn btn-tool" data-toggle="modal" data-target="#incluirEnderecoModal">
					                		<i class="fas fa-plus"></i>
					                  	</button>						                  
					                </div>
								</div>
								<div class="card-body">
									<div id="box-endereco">
										<div th:text="|*{endereco.tipoLogradouro} 
											*{endereco.logradouro}, 
											*{endereco.numero} -
											*{endereco.complemento}|"
											th:if="*{endereco} != null"></div>
										<div th:text="*{endereco.bairro}"  th:if="*{endereco} != null"></div>
										<div th:text="|*{endereco.cidade} - *{endereco.uf}|" th:if="*{endereco} != null"></div>
										<div th:text="*{endereco.cep}" th:if="*{endereco} != null"></div>										
									</div>
								</div>									
							</div>							
							<div class="card">
								<div class="card-header with-border">
									<h4 class="card-title">Contato</h4>
									<div class="card-tools">										
					                	<button type="button" class="btn btn-tool" data-toggle="modal" data-target="#incluirTelefoneModal">
					                		<i class="fas fa-plus"></i>
					                  	</button>						                  
					                </div>
								</div>
								<div class="card-body">
									<div id="box-telefone">
										<div th:text="*{contato}" ></div>
										<div th:text="*{telefone}" ></div>	
									</div>										
								</div>									
							</div>
							<div class="card">
								<div class="card-header with-border">
									<h4 class="card-title">Parâmetros</h4>
									<div class="card-tools">										
					                	<button type="button" class="btn btn-tool" data-toggle="modal" data-target="#incluirParametrosModal">
					                		<i class="fas fa-plus"></i>
					                  	</button>						                  
					                </div>
								</div>
								<div class="card-body">
									<div id="box-parametros">
									</div>										
								</div>									
							</div>
						</div>						
					</div>
					
					<div class="row">
						<div class="offset-md-8 col-md-2">
							<a href="javascript:history.back()" class="btn btn-danger w-100">Cancelar</a>
						</div>
						<div class="col-md-2">
							<button id="btnSalvar" type="submit" class="btn btn-primary w-100">Salvar</button>			
						</div>
					</div>														
					
					<div class="modal fade" id="incluirEnderecoModal" tabindex="-1" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title text-center">Incluir endereço</h4>
									<button type="button" class="close" data-dismiss="modal"><i>&times;</i></button>
								</div>
								<div class="modal-body">																	
									<div class="form-group  bw-required" aratu:classforerror="endereco.cep">
										<input type="text" class="form-control js-cep" id="cep"
											placeholder="CEP" th:errorclass="is-invalid" 
											th:field="*{endereco.cep}" autocomplete="off"/>
									</div>
									<div class="form-group  bw-required">
										<select id="tipoLogradouro" class="form-control" th:field="*{endereco.tipoLogradouro}"
											 	th:errorclass="is-invalid" >
											<option value="RUA">Tipo logradouro</option>				                    
						                    <option th:each="tipoLogradouro : ${tiposLogradouro}"  
						                    		th:text="${tipoLogradouro.descricao}" th:value="${tipoLogradouro}"></option>
						                </select>
									</div>
									<div class="form-group  bw-required" aratu:classforerror="endereco.logradouro">
										<input type="text" class="form-control" id="logradouro"
											placeholder="Logradouro"  th:errorclass="is-invalid"  
											th:field="*{endereco.logradouro}" autocomplete="off"/>
									</div>
									<div class="form-group  bw-required" aratu:classforerror="endereco.numero">
										<input type="text" class="form-control" id="numero"
											placeholder="Número" 
											th:field="*{endereco.numero}" autocomplete="off"/>
									</div>
									<div class="form-group"> 
										<input type="text" class="form-control"
											placeholder="Complemento" 
											id="complemento" th:field="*{endereco.complemento}" autocomplete="off"/>
									</div>									
															
									<div class="form-group  bw-required" aratu:classforerror="endereco.bairro">
										<input type="text" class="form-control" id="bairro"
											placeholder="Bairro"  th:errorclass="is-invalid" 
											th:field="*{endereco.bairro}" autocomplete="off"/>
									</div>
									<div class="form-group  bw-required" aratu:classforerror="endereco.cidade">
										<input type="text" class="form-control" id="cidade"
											placeholder="Cidade"  th:errorclass="is-invalid" 
											th:field="*{endereco.cidade}" autocomplete="off"/>
									</div>
									<div class="form-group  bw-required" aratu:classforerror="endereco.uf">
										<select id="uf" class="form-control"  th:field="*{endereco.uf}" th:errorclass="is-invalid">
											<option value="RN">Estado</option> 				                    
						                    <option th:each="uf : ${ufs}"  
						                    		th:text="${uf.nome}" th:value="${uf.sigla}"></option>
						                </select>
									</div>
									<div class="form-group  bw-required" aratu:classforerror="endereco.codigoIbge">
										<input type="text" class="form-control" id="ibge"
											placeholder="Codigo do município"  th:errorclass="is-invalid"  
											th:field="*{endereco.codigoIbge}" autocomplete="off"/>
									</div>
									<button id="btn-salvar-endereco" type="button" class="btn btn-primary col-12">Incluir</button>
								</div>
							</div>
						</div>
					</div>
					
					<div class="modal  fade" id="incluirTelefoneModal" tabindex="-1" role="dialog">
						<div class="modal-dialog">
					   		<div class="modal-content">
					   			<div class="modal-header">
					        		<h4 class="modal-title">Incluir contatos</h4>
					       			<button type="button" class="close" data-dismiss="modal"><i>&times;</i></button>
					      		</div>			      		
					   			<div class="modal-body">
									<div class="row form-group" aratu:classforerror="contato">
										<input type="text" class="form-control" 
											id="contato" placeholder="Contato" 
											th:field="*{contato}" autocomplete="off"/>
									</div>
									<div class="row form-group">
										<input type="text" class="form-control" id="email" th:errorclass="is-invalid"
											th:field="*{email}" autocomplete="off" placeholder="E-mail" />
									</div>
				   					<div class="row form-group" aratu:classforerror="telefone">
										<input type="text" class="form-control js-phone-number" 
											id="telefone" placeholder="Telefone" 
											th:field="*{telefone}" autocomplete="off"/>
									</div>
									<button id="btn-salvar-telefone" type="button" class="btn btn-primary col-12">Incluir</button> 			   								      
					     		</div>
					   		</div>
				 		</div>
					</div>						
					<div class="modal  fade" id="incluirParametrosModal" tabindex="-1" role="dialog">
						<div class="modal-dialog">
					   		<div class="modal-content">
					   			<div class="modal-header">
					        		<h4 class="modal-title">Incluir parâmetros</h4>
					       			<button type="button" class="close" data-dismiss="modal"><i>&times;</i></button>
					      		</div>			      		
					   			<div class="modal-body">
									<div class="form-group">
										<div class="custom-file">
											<input id="certificado" type="file" class="custom-file-input" name="certificado"/>
											<label id="labelCertificado" class="custom-file-label" for="certificado">Selecione o certificado digital</label>
										</div>	
									</div>
				   					<div class="form-group">
										<input type="password" class="form-control" 
											id="senhaCertificado" placeholder="Senha do certificado" 
											th:field="*{senhaCertificado}" autocomplete="off"/>
									</div>
									<button id="btn-salvar-parametros" type="button" class="btn btn-primary col-12">Incluir</button> 			   								      
					     		</div>
					   		</div>
				 		</div>
					</div>						
				</form>					
			</div>										
		</div>	
	</div>	
	
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascript/cliente.mascara-cpf-cnpj.js}"></script>
		<script th:src="@{/javascript/empresa.js}"></script>
		<script th:src="@{/javascript/cliente.js}"></script>
		<script th:src="@{/javascript/aratu.buscar-cep.js}"></script>
		<script th:src="@{/plugins/bs-custom-file-input/bs-custom-file-input.min.js}"></script>
		<script>
			$(function () {
			  bsCustomFileInput.init();
			});
		</script>
	</th:block>
</body>
</html>