<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
	<footer class="main-footer align-baseline" th:fragment="layout-footer">
		<img th:src="@{/images/tm.png}" alt="PedidoAPP" style="opacity: .9; max-height: 30px; width: auto" />
		<strong>Copyright &copy; 2022 <a href="#">Pedido APP</a>.</strong> Todos os direitos reservados.
		<div class="float-right d-none d-sm-inline-block">
			<b>Versão</b> 1.0.0 &nbsp;&nbsp;&nbsp; <b>Data</b> 15/02/2023
		</div>
	</footer>
</body>

</html>