<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<div class="aw-error-panel">
	<h1 class="aw-error-panel__code">
		<i class="fa  fa-lock"></i>
	</h1>
	
	<h2 class="aw-error-panel__title">Erro no processamento da requisição</h2>
	
	<div class="aw-error-panel__description">
		Um problema impediu que a sua solicitação fosse processada.
		<br/><br/>
		<a href="javascript:history.back()" class="btn  btn-primary">Voltar para onde estava</a>
	</div>
</div>
</html>