<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{leiaute/LayoutPadrao}">
<head>
    <meta charset="UTF-8">
    <title>Aratu | Altera preço</title>
</head>
<body>
<div layout:fragment="conteudo">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mt-2 mb-2">
                <div class="col-sm-6">
                    <h1>Alteração de preço</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a th:href="@{/}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Altera preço</li>
                        <li class="breadcrumb-item"><a th:href="@{/produtos}">Pesquisa</a></li>
                        <li class="breadcrumb-item"><a th:href="@{/produtos/novo}">Cadastro</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div id="success-alert" class="alert  alert-success  alert-dismissible" role="alert"
                 th:if="${not #strings.isEmpty(mensagem)}" th:fragment="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span></button>
                <span th:text="${mensagem}"></span>
            </div>

            <!--/*@thymesVar id="alteraPrecoProdutoDTO" type="br.com.tmautomacao.aratu.web.model.AlteraPrecoProdutoDTO"*/-->
            <form th:action="@{/produtos/altera-preco}"
                  method="post"
                  th:object="${alteraPrecoProdutoDTO}">
                <div class="alert  alert-danger  alert-dismissible" role="alert" th:if="${#fields.hasAnyErrors()}"
                     th:fragment="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span>
                    </button>
                    <th:block th:each="detailedError : ${#fields.detailedErrors()}">
                        <div><i class="fa  fa-exclamation-circle"></i> [[${detailedError.message}]]</div>
                    </th:block>
                </div>

                <div class="form-group">
                    <label class="control-label" for="altera-preco-empresa-id">Loja</label>
                    <input id="altera-preco-empresa-id"
                           th:field="*{empresa.id}"
                           class="form-control form-control-sm"
                           readonly="readonly"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="altera-preco-produto-id">Código</label>
                    <input id="altera-preco-produto-id"
                           th:field="*{produto.id}"
                           class="form-control form-control-sm"
                           readonly="readonly"/>
                    <input id="altera-preco-produto-empresa-id" type="hidden" th:field="*{id}"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="altera-preco-produto-ean">EAN</label>
                    <input id="altera-preco-produto-ean"
                           th:field="*{ean}"
                           class="form-control form-control-sm"
                           autocomplete="off" autofocus="autofocus"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="altera-preco-produto-descricao">Descrição</label>
                    <input id="altera-preco-produto-descricao"
                           th:field="*{descricao}"
                           class="form-control form-control-sm"
                           readonly="readonly"
                           autocomplete="off"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="altera-preco-produto-preco-compra">R$ Compra</label>
                    <input id="altera-preco-produto-preco-compra"
                           th:field="*{precoCompra}"
                           class="form-control form-control-sm"
                           autocomplete="off"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="altera-preco-produto-preco-custo">R$ Custo</label>
                    <input id="altera-preco-produto-preco-custo"
                           th:field="*{precoCusto}"
                           class="form-control form-control-sm"
                           autocomplete="off"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="altera-preco-produto-margem">Margem</label>
                    <input id="altera-preco-produto-margem"
                           th:field="*{margemLucro}"
                           class="form-control form-control-sm"
                           autocomplete="off"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="altera-preco-produto-preco-venda">R$ Venda</label>
                    <input id="altera-preco-produto-preco-venda"
                           th:field="*{precoVenda}"
                           class="form-control form-control-sm js-decimal"
                           autocomplete="off"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="altera-preco-produto-pmz">R$ PMZ</label>
                    <input id="altera-preco-produto-pmz"
                           th:field="*{precoMargemZero}"
                           class="form-control form-control-sm"
                           readonly="readonly"
                           autocomplete="off"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="altera-preco-produto-margem-praticada">Margem praticada</label>
                    <input id="altera-preco-produto-margem-praticada"
                           th:field="*{margemPraticada}"
                           class="form-control form-control-sm"
                           readonly="readonly"
                           autocomplete="off"/>
                </div>
                <div class="row" th:if="${alteraPrecoProdutoDTO.promocao}">
                    <div class="info-box bg-info mt-2">
                        <span class="info-box-icon">
                            <i class="fas fa-tag"></i>
                        </span>
                        <div class="info-box-content">
                            <h5>Promoção</h5>
                            <span class="info-box-text">
                                De
                                [[${#temporals.format(alteraPrecoProdutoDTO.dataInicioPromocao, 'dd/MM/yyyy')}]]
                                 até
                                [[${#temporals.format(alteraPrecoProdutoDTO.dataFimPromocao, 'dd/MM/yyyy')}]]
                            </span>
                        </div>
                        <div class="icon text-xl">
                            [[${#numbers.formatCurrency(alteraPrecoProdutoDTO.precoPromocao)}]]
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary col-1 float-right">Salvar</button>
            </form>
        </div>
    </div>
</div>

<th:block layout:fragment="javascript-extra">
    <script>
        const eanInput = document.getElementById("altera-preco-produto-ean");
        const produtoEmpresaIdInput = document.getElementById("altera-preco-produto-empresa-id");
        const produtoIdInput = document.getElementById("altera-preco-produto-id");
        const empresaIdInput = document.getElementById("altera-preco-produto-empresa-id");
        const descricaoInput = document.getElementById("altera-preco-produto-descricao");
        const precoCompraInput = document.getElementById("altera-preco-produto-preco-compra");
        const precoCustoInput = document.getElementById("altera-preco-produto-preco-custo");
        const margemLucroInput = document.getElementById("altera-preco-produto-margem");
        const precoVendaInput = document.getElementById("altera-preco-produto-preco-venda");
        const precoPmzInput = document.getElementById("altera-preco-produto-pmz");
        const margemPraticadaInput = document.getElementById("altera-preco-produto-margem-praticada");

        eanInput.addEventListener("keypress", event => {
            if (event.key == 'Enter') {
                event.preventDefault();
                const ean = eanInput.value;
                fetch(`http://localhost:8080/produtos/${ean}/altera-preco`)
                    .then(response => response.json())
                    .then(montarFormAlteraPreco)
                    .catch(err => console.log);
            }
        });

        function montarFormAlteraPreco(produto) {
            produtoEmpresaIdInput.value = produto.id;
            produtoIdInput.value = produto.produto.id;
            empresaIdInput.value = produto.empresa.id;
            descricaoInput.value = produto.descricao;
            precoCompraInput.value = Aratu.formatarMoeda(produto.precoCompra);
            precoCustoInput.value = Aratu.formatarMoeda(produto.precoCusto);
            margemLucroInput.value = Aratu.formatarMoeda(produto.margemLucro);
            precoVendaInput.value = Aratu.formatarMoeda(produto.precoVenda);
            precoPmzInput.value = Aratu.formatarMoeda(produto.precoMargemZero);
            margemPraticadaInput.value = Aratu.formatarMoeda(produto.margemPraticada);
            precoCompraInput.focus();
        }
    </script>
</th:block>
</body>
</html>