<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{leiaute/LayoutPadrao}">
<head>
    <title>Aratu - Cadastro produto</title>
</head>
<body>
<div layout:fragment="conteudo">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mt-2 mb-2">
                <div class="col-sm-6">
                    <h1>Cadastro de produtos</h1>
                </div>
                <div class="ml-auto">
                    <a class="btn btn-sm btn-primary" th:href="@{/produtos}">
                        <i class="fa fa-search"></i>
                        <span>Pesquisar</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div id="success-alert" class="alert  alert-success  alert-dismissible" role="alert"
                 th:if="${not #strings.isEmpty(mensagem)}" th:fragment="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span></button>
                <span th:text="${mensagem}"></span>
            </div>

            <!--/*@thymesVar id="cadastroProdutoDTO" type="br.com.tmautomacao.aratu.web.model.CadastroProdutoDTO"*/-->
            <form th:action="${cadastroProdutoDTO.isNovo()} ? @{/produtos/novo} : @{/produtos/{id}(id=${cadastroProdutoDTO.produtoId})}"
                  method="post"
                  th:object="${cadastroProdutoDTO}">
                <div class="alert  alert-danger  alert-dismissible" role="alert" th:if="${#fields.hasAnyErrors()}"
                     th:fragment="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span>
                    </button>
                    <th:block th:each="detailedError : ${#fields.detailedErrors()}">
                        <div><i class="fa  fa-exclamation-circle"></i> [[${detailedError.message}]]</div>
                    </th:block>
                </div>

                <div class="row">

                    <!-- inicio da primeira coluna da tela -->
                    <div class="col">

                        <!-- Inicio do card dados-->
                        <div class="card">
                            <div class="card-header  bg-info">
                                <h4 class="card-title">Dados</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="row">
                                            <div class="image">
                                                <img src="https://picsum.photos/200"
                                                     class="img-circle elevation-2" style="width: 100px;" alt="Empresa">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="info">
                                                <a href="#">Selecione imagem</a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="control-label"
                                                           for="cadastro-produto-empresa-id">Loja</label>
                                                    <input id="cadastro-produto-empresa-id"
                                                           th:field="*{empresa.id}"
                                                           class="form-control form-control-sm"
                                                           readonly="readonly"/>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="control-label" for="cadastro-produto-data-cadastro">Data
                                                        Cadastro</label>
                                                    <input id="cadastro-produto-data-cadastro" type="date"
                                                           th:field="*{dataCadastro}"
                                                           class="form-control form-control-sm" readonly="readonly"/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="control-label"
                                                           for="cadastro-produto-id">Código</label>
                                                    <input id="cadastro-produto-id"
                                                           th:field="*{produtoId}"
                                                           class="form-control form-control-sm"
                                                           readonly="readonly"/>
                                                    <!--        <input type="hidden" th:field="*{produtoEmpresaId}"/>-->
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="control-label" for="cadastro-produto-ean">EAN</label>
                                                    <input id="cadastro-produto-ean"
                                                           th:field="*{ean}"
                                                           class="form-control form-control-sm"
                                                           autocomplete="off" autofocus="autofocus"/>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label"
                                           for="cadastro-produto-descricao">Descrição</label>
                                    <input id="cadastro-produto-descricao"
                                           th:field="*{descricao}"
                                           class="form-control form-control-sm"
                                           autocomplete="off"/>
                                </div>


                                <div class="row">
                                    <div class="col-5">
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-descricao-pdv">Descrição
                                                PDV</label>
                                            <input id="cadastro-produto-descricao-pdv"
                                                   th:field="*{descricaoPdv}"
                                                   class="form-control form-control-sm"
                                                   autocomplete="off"/>
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-descricao-etiqueta">Descrição
                                                etiqueta</label>
                                            <input id="cadastro-produto-descricao-etiqueta"
                                                   th:field="*{descricaoEtiqueta}"
                                                   class="form-control form-control-sm"
                                                   autocomplete="off"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-unidade">Unidade</label>
                                            <select id="cadastro-produto-unidade"
                                                    th:field="*{unidade}"
                                                    class="form-control form-control-sm"
                                                    autocomplete="off">
                                                <option th:each="unidade : ${unidades}" th:value="${unidade.sigla}"
                                                        th:text="|${unidade.sigla} - ${unidade.descricao}|"/>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-iat">IAT</label>
                                            <select id="cadastro-produto-iat"
                                                    th:field="*{iat}"
                                                    class="form-control form-control-sm"
                                                    autocomplete="off">
                                                <option th:each="iat : ${tiposArredondaTrunca}" th:value="${iat}"
                                                        th:text="${iat.descricao}"/>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-ippt">IPPT</label>
                                            <select id="cadastro-produto-ippt"
                                                    th:field="*{ippt}"
                                                    class="form-control form-control-sm"
                                                    autocomplete="off">
                                                <option th:each="ippt : ${tiposProducao}" th:value="${ippt}"
                                                        th:text="${ippt.descricao}"/>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Fim do card dados -->

                        <!-- Inicio do card estrutura mercadologica -->
                        <div class="card">
                            <div class="card-header bg-olive">
                                <h4 class="card-title">Estrutura mercadológica</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="control-label" for="cadastro-produto-secao">Seção</label>
                                    <select id="cadastro-produto-secao"
                                            th:field="*{secao.id}"
                                            class="form-control form-control-sm"
                                            autocomplete="off">
                                        <option value="">Selecione...</option>
                                        <!--/*@thymesVar id="secao" type="br.com.tmautomacao.aratu.domain.model.Secao"*/-->
                                        <option th:each="secao : ${secoes}" th:value="${secao.id}"
                                                th:text="${secao.nome}"/>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="cadastro-produto-categoria">Categoria</label>
                                    <select id="cadastro-produto-categoria"
                                            th:field="*{categoria.id}"
                                            class="form-control form-control-sm"
                                            autocomplete="off">
                                        <option value="">Selecione...</option>
                                        <!--/*@thymesVar id="categoria" type="br.com.tmautomacao.aratu.domain.model.Categoria"*/-->
                                        <option th:each="categoria : ${categorias}" th:value="${categoria.id}"
                                                th:text="${categoria.nome}"/>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="cadastro-produto-familia">Família</label>
                                    <select id="cadastro-produto-familia"
                                            th:field="*{familia.id}"
                                            class="form-control form-control-sm"
                                            autocomplete="off">
                                        <option value="">Selecione...</option>
                                        <!--/*@thymesVar id="familia" type="br.com.tmautomacao.aratu.domain.model.Familia"*/-->
                                        <option th:each="familia : ${familias}" th:value="${familia.id}"
                                                th:text="${familia.nome}"/>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- fim do card estrutura mercadológica -->

                        <!-- inicio do card comercial -->
                        <div class="card">
                            <div class="card-header bg-lightblue">
                                <h4 class="card-title">Comercial</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-estoque">Estoque</label>
                                            <input id="cadastro-produto-estoque"
                                                   th:field="*{quantidadeEstoque}"
                                                   class="form-control form-control-sm"
                                                   readonly
                                                   autocomplete="off"/>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-estoque-minimo">Estoque
                                                mínimo</label>
                                            <input id="cadastro-produto-estoque-minimo"
                                                   th:field="*{quantidadeEstoqueMinimo}"
                                                   class="form-control form-control-sm"
                                                   autocomplete="off"/>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-estoque-maximo">Estoque
                                                máximo</label>
                                            <input id="cadastro-produto-estoque-maximo"
                                                   th:field="*{quantidadeEstoqueMaximo}"
                                                   class="form-control form-control-sm"
                                                   autocomplete="off"/>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-preco-compra">R$
                                                Compra</label>
                                            <input id="cadastro-produto-preco-compra"
                                                   th:field="*{precoCompra}"
                                                   class="form-control form-control-sm js-decimal"
                                                   autocomplete="off"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-preco-custo">R$
                                                Custo</label>
                                            <input id="cadastro-produto-preco-custo"
                                                   th:field="*{precoCusto}"
                                                   class="form-control form-control-sm js-decimal"
                                                   autocomplete="off"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-preco-venda">R$
                                                Venda</label>
                                            <input id="cadastro-produto-preco-venda"
                                                   th:field="*{precoVenda}"
                                                   class="form-control form-control-sm js-decimal"
                                                   autocomplete="off"/>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-margem">Margem</label>
                                            <input id="cadastro-produto-margem"
                                                   th:field="*{margemLucro}"
                                                   class="form-control form-control-sm js-decimal"
                                                   autocomplete="off"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-pmz">R$ PMZ</label>
                                            <input id="cadastro-produto-pmz"
                                                   th:field="*{precoMargemZero}"
                                                   class="form-control form-control-sm js-decimal"
                                                   readonly
                                                   autocomplete="off"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-margem-praticada">Margem
                                                praticada</label>
                                            <input id="cadastro-produto-margem-praticada"
                                                   th:field="*{margemPraticada}"
                                                   class="form-control form-control-sm js-decimal"
                                                   readonly
                                                   autocomplete="off"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" th:if="${cadastroProdutoDTO.promocao}">
                                    <div class="info-box bg-info mt-2">
                                        <span class="info-box-icon">
                                            <i class="fas fa-tag"></i>
                                        </span>
                                        <div class="info-box-content">
                                            <h5>Promoção</h5>
                                            <span class="info-box-text">
                                                De
                                                [[${#temporals.format(cadastroProdutoDTO.dataInicioPromocao, 'dd/MM/yyyy')}]]
                                                 até
                                                [[${#temporals.format(cadastroProdutoDTO.dataFimPromocao, 'dd/MM/yyyy')}]]
                                            </span>
                                        </div>
                                        <div class="icon text-xl">
                                            [[${#numbers.formatCurrency(cadastroProdutoDTO.precoPromocao)}]]
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- fim do card comercial -->


                    </div>
                    <!-- fim da primeira coluna da tela -->

                    <!-- inicio da segunda coluna da tela -->
                    <div class="col">

                        <!-- inicio do card fiscal -->
                        <div class="card">
                            <div class="card-header bg-maroon">
                                <h4 class="card-title">Fiscal</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="control-label" for="cadastro-produto-ncm">NCM</label>
                                    <div class="input-group">
                                        <input id="cadastro-produto-ncm"
                                               th:value="${cadastroProdutoDTO.codigoNcm}"
                                               class="form-control form-control-sm"
                                               readonly/>

                                        <input id="cadastro-produto-ncm-hidden"
                                               type="hidden" th:field="*{codigoNcm}"/>

                                        <span class="input-group-btn">
                            <button class="btn  btn-sm  btn-default  js-tooltip"
                                    id="btn-pesquisa-codigo-ncm" type="button" title="Pesquisar"
                                    data-toggle="modal" data-target="#pesquisaRapidaNcm">
                                <i class="fa  fa-search"></i>
                            </button>
                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="cadastro-produto-cest">CEST</label>
                                    <div class="input-group">
                                        <input id="cadastro-produto-cest"
                                               th:value="${cadastroProdutoDTO.codigoCest}"
                                               class="form-control form-control-sm"
                                               readonly/>
                                        <input id="cadastro-produto-cest-hidden"
                                               type="hidden" th:field="*{codigoCest}">

                                        <span class="input-group-btn">
                            <button class="btn  btn-sm  btn-default  js-tooltip"
                                    id="btn-pesquisa-codigo-cest" type="button" title="Pesquisar"
                                    data-toggle="modal" data-target="#pesquisaRapidaCest">
                                <i class="fa  fa-search"></i>
                            </button>
                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="cadastro-produto-tipo-produto">Tipo</label>
                                    <select id="cadastro-produto-tipo-produto"
                                            th:field="*{tipoProduto}"
                                            class="form-control form-control-sm"
                                            autocomplete="off">
                                        <option th:each="tipo : ${tipoProdutos}" th:value="${tipo.codigo}"
                                                th:text="|${tipo.codigo} - ${tipo.descricao}|"/>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="cadastro-produto-genero-produto">Gênero</label>
                                    <select id="cadastro-produto-genero-produto"
                                            th:field="*{generoProduto}"
                                            class="form-control form-control-sm"
                                            autocomplete="off">
                                        <option th:each="generoProduto : ${generosProduto}"
                                                th:value="${generoProduto.codigo}"
                                                th:text="|${generoProduto.codigo} - ${generoProduto.descricao}|"/>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="cadastro-produto-origem-produto">Origem</label>
                                    <select id="cadastro-produto-origem-produto"
                                            th:field="*{origemProduto}"
                                            class="form-control form-control-sm"
                                            autocomplete="off">
                                        <option th:each="origem : ${origemProdutos}" th:value="${origem.codigo}"
                                                th:text="|${origem.codigo} - ${origem.descricao}|"/>

                                    </select>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-cst-icms-entrada">CST
                                                ICMS
                                                Entrada</label>
                                            <select id="cadastro-produto-cst-icms-entrada"
                                                    th:field="*{cstIcmsEntrada}"
                                                    class="form-control form-control-sm"
                                                    autocomplete="off">
                                                <option th:each="cst : ${cstsIcms}" th:value="${cst.codigo}"
                                                        th:text="|${cst.codigo} - ${cst.descricao}|"/>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-aliquota-icms-entrada">Alíquota</label>
                                            <input id="cadastro-produto-aliquota-icms-entrada"
                                                   th:field="*{aliquotaIcmsEntrada}"
                                                   class="form-control form-control-sm js-decimal"
                                                   autocomplete="off"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-reducao-icms-entrada">Redução</label>
                                            <input id="cadastro-produto-reducao-icms-entrada"
                                                   th:field="*{reducaoBaseIcmsSaida}"
                                                   class="form-control form-control-sm js-decimal"
                                                   autocomplete="off"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-fecoep-entrada">FECOEP
                                                Entrada</label>
                                            <input id="cadastro-produto-fecoep-entrada"
                                                   th:field="*{aliquotaFecoepEntrada}"
                                                   class="form-control form-control-sm js-decimal"
                                                   autocomplete="off"/>
                                        </div>

                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-cst-icms-saida">CST ICMS
                                                Saída</label>
                                            <select id="cadastro-produto-cst-icms-saida"
                                                    th:field="*{cstIcmsSaida}"
                                                    class="form-control form-control-sm"
                                                    autocomplete="off">
                                                <option th:each="cst : ${cstsIcms}" th:value="${cst.codigo}"
                                                        th:text="|${cst.codigo} - ${cst.descricao}|"/>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-aliquota-icms-saida">Alíquota</label>
                                            <input id="cadastro-produto-aliquota-icms-saida"
                                                   th:field="*{aliquotaIcmsSaida}"
                                                   class="form-control form-control-sm js-decimal"
                                                   autocomplete="off"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-reducao-icms-saida">Redução</label>
                                            <input id="cadastro-produto-reducao-icms-saida"
                                                   th:field="*{reducaoBaseIcmsSaida}"
                                                   class="form-control form-control-sm js-decimal"
                                                   autocomplete="off"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-fecoep">FECOEP
                                                saída</label>
                                            <input id="cadastro-produto-fecoep"
                                                   th:field="*{aliquotaFecoep}"
                                                   class="form-control form-control-sm js-decimal"
                                                   autocomplete="off"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-codigo-pdv">Código
                                                PDV</label>
                                            <input id="cadastro-produto-codigo-pdv"
                                                   th:field="*{codigoPdv}"
                                                   class="form-control form-control-sm"
                                                   autocomplete="off"
                                                   readonly/>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-cst-pis-cofins-entrada">CST
                                                PIS/COFINS
                                                Entrada</label>
                                            <select id="cadastro-produto-cst-pis-cofins-entrada"
                                                    th:field="*{cstPisCofinsEntrada}"
                                                    class="form-control form-control-sm"
                                                    autocomplete="off">
                                                <option th:each="cstPisCofinsEntrada : ${cstsPisCofinsEntrada}"
                                                        th:text="|${cstPisCofinsEntrada.codigo} - ${cstPisCofinsEntrada.descricao}|"
                                                        th:value="${cstPisCofinsEntrada.codigo}"/>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-pis-entrada">Alíquota PIS
                                                Entrada</label>
                                            <input id="cadastro-produto-pis-entrada"
                                                   th:field="*{aliquotaPisEntrada}"
                                                   class="form-control form-control-sm js-decimal"
                                                   autocomplete="off"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-cofins-entrada">Alíquota
                                                COFINS
                                                Entrada</label>
                                            <input id="cadastro-produto-cofins-entrada"
                                                   th:field="*{aliquotaCofinsEntrada}"
                                                   class="form-control form-control-sm js-decimal"
                                                   autocomplete="off"/>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-cst-pis-cofins-saida">CST
                                                PIS/COFINS</label>
                                            <select id="cadastro-produto-cst-pis-cofins-saida"
                                                    th:field="*{cstPisCofinsSaida}"
                                                    class="form-control form-control-sm"
                                                    autocomplete="off">
                                                <!--/*@thymesVar id="cst" type="br.com.tmautomacao.aratu.domain.model.CstPisCofins"*/-->
                                                <option th:each="cst : ${cstsPisCofinsSaida}"
                                                        th:text="|${cst.codigo} - ${cst.descricao}|"
                                                        th:value="${cst.codigo}"/>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-pis-saida">Alíquota
                                                PIS</label>
                                            <input id="cadastro-produto-pis-saida"
                                                   th:field="*{aliquotaPisSaida}"
                                                   class="form-control form-control-sm js-decimal"
                                                   autocomplete="off"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-cofins-saida">Alíquota
                                                COFINS</label>
                                            <input id="cadastro-produto-cofins-saida"
                                                   th:field="*{aliquotaCofinsSaida}"
                                                   class="form-control form-control-sm js-decimal"
                                                   autocomplete="off"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="cadastro-produto-natureza-receita">Natureza
                                        Receita</label>
                                    <div class="input-group">
                                        <input id="cadastro-produto-natureza-receita"
                                               th:value="${cadastroProdutoDTO.naturezaReceita}"
                                               class="form-control form-control-sm"
                                               autocomplete="off"
                                               disabled/>

                                        <input id="cadastro-produto-natureza-receita-hidden"
                                               type="hidden"
                                               th:field="*{naturezaReceita}"/>

                                        <span class="input-group-btn">
                                            <button class="btn  btn-sm  btn-default  js-tooltip"
                                                    id="btn-pesquisa-natureza-receita" type="button" title="Pesquisar"
                                                    data-toggle="modal" data-target="#pesquisaRapidaNaturezaReceita">
                                                <i class="fa  fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-cst-ipi-entrada">CST IPI
                                                Entrada</label>
                                            <select id="cadastro-produto-cst-ipi-entrada"
                                                    th:field="*{cstIpiEntrada}"
                                                    class="form-control form-control-sm"
                                                    autocomplete="off">
                                                <option th:each="cst : ${cstsIpiEntrada}"
                                                        th:text="|${cst.codigo} - ${cst.descricao}|"
                                                        th:value="${cst.codigo}"/>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-ipi-entrada">Alíquota IPI
                                                Entrada</label>
                                            <input id="cadastro-produto-ipi-entrada"
                                                   th:field="*{aliquotaIpiEntrada}"
                                                   class="form-control form-control-sm js-decimal"
                                                   autocomplete="off"/>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-cst-ipi-saida">CST IPI
                                                Saída</label>
                                            <select id="cadastro-produto-cst-ipi-saida"
                                                    th:field="*{cstIpiSaida}"
                                                    class="form-control form-control-sm"
                                                    autocomplete="off">
                                                <option th:each="cst : ${cstsIpiSaida}"
                                                        th:text="|${cst.codigo} - ${cst.descricao}|"
                                                        th:value="${cst.codigo}"/>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="cadastro-produto-ipi-saida">Alíquota
                                                IPI</label>
                                            <input id="cadastro-produto-ipi-saida"
                                                   th:field="*{aliquotaIpiSaida}"
                                                   class="form-control form-control-sm js-decimal"
                                                   autocomplete="off"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- fim do card fiscal -->

                    </div>
                    <!-- fim da segunda coluna da tela -->
                </div>

                <div class="row mb-3">
                    <button type="submit" class="btn btn-primary col-1">Salvar</button>
                </div>
            </form>


        </div>
    </div>
    <th:block th:replace="ncm/PesquisaRapidaNcm :: pesquisaRapidaNcm"></th:block>
    <th:block th:replace="cest/PesquisaRapidaCest :: pesquisaRapidaCest"></th:block>
    <th:block th:replace="naturezareceita/PesquisaRapidaNaturezaReceita :: pesquisaRapidaNaturezaReceita"></th:block>

</div>
<th:block layout:fragment="javascript-extra">
    <script th:src="@{/plugins/handlebars/handlebars.min-v4.7.7.js}"></script>
    <script th:src="@{/javascript/ncm.pesquisa-rapida.js}"></script>
    <script th:src="@{/javascript/cest.pesquisa-rapida.js}"></script>
    <script th:src="@{/javascript/naturezareceita.pesquisa-rapida.js}"></script>

    <script>
        const secaoSelect = document.getElementById("cadastro-produto-secao");
        const categoriaSelect = document.getElementById("cadastro-produto-categoria");
        const familiaSelect = document.getElementById("cadastro-produto-familia");

        secaoSelect.addEventListener("change", () => {
            let secaoId = secaoSelect.value;
            if (!secaoId) {
                montarSelectCategoria([]);
                montarSelectFamilia([])
                return;
            }
            fetch(`http://localhost:8080/categorias/secao/${secaoId}`)
                .then(response => response.json())
                .then(montarSelectCategoria)
                .catch(err => console.log);
        });

        categoriaSelect.addEventListener("change", () => {
            let categoriaId = categoriaSelect.value;
            if (!categoriaId) {
                montarSelectFamilia([]);
                return;
            }
            fetch(`http://localhost:8080/familias/categoria/${categoriaId}`)
                .then(response => response.json())
                .then(montarSelectFamilia)
                .catch(err => console.log);
        });

        function montarSelectCategoria(resposta) {
            categoriaSelect.options.length = 0;
            categoriaSelect.options[0] = new Option("Selecione...", "");
            montarSelectFamilia([]);
            resposta.forEach((categoria) => {
                const option = new Option(categoria.nome, categoria.id);
                categoriaSelect.options[categoriaSelect.options.length] = option;
            });
        }

        function montarSelectFamilia(resposta) {
            familiaSelect.options.length = 0;
            familiaSelect.options[0] = new Option("Selecione...", "");
            resposta.forEach((familia) => {
                const option = new Option(familia.nome, familia.id);
                familiaSelect.options[familiaSelect.options.length] = option;
            });
        }

        $(function () {
            $(document).on("ncm-selecionado", (event, ncm) => {
                $("#cadastro-produto-ncm").val(`${ncm.codigo} - ${ncm.descricao}`);
                $("#cadastro-produto-ncm-hidden").val(ncm.codigo)
            });

            $(document).on("cest-selecionado", (event, cest) => {
                $("#cadastro-produto-cest").val(`${cest.codigo} - ${cest.descricao}`);
                $("#cadastro-produto-cest-hidden").val(cest.codigo)
            });
        });
    </script>
</th:block>
</body>
</html>