<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{leiaute/LayoutPadrao}"
      xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
    <title>Aratu | Pesquisa produtos</title>
</head>
<body>
<div layout:fragment="conteudo">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mt-2 mb-2">
                <div class="col-sm-6">
                    <h1>Pesquisa produtos</h1>
                </div>
                <!--                <div class="col-sm-6">-->
                <!--                    <ol class="breadcrumb float-sm-right">-->
                <!--                        <li class="breadcrumb-item"><a th:href="@{/}">Dashboard</a></li>-->
                <!--                        <li class="breadcrumb-item active">Pesquisa Produtos</li>-->
                <!--                    </ol>-->
                <!--                </div>-->
                <div class="ml-auto">
                    <a class="btn btn-sm btn-primary" th:href="@{/produtos/novo}">
                        <i class="fa  fa-plus"></i>
                        <span>Cadastrar</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">EAN</th>
                        <th class="text-center">DESCRIÇÃO</th>
                        <th class="text-center">ESTOQUE</th>
                        <th class="text-center">R$ COMPRA</th>
                        <th class="text-center">R$ CUSTO</th>
                        <th class="text-center">R$ PMZ</th>
                        <th class="text-center">MARGEM</th>
                        <th class="text-center">MRG PRATICADA</th>
                        <th class="text-center">R$ VENDA</th>
                        <th class="text-center">Ações</th>
                    </tr>
                    <tr th:each="produto : ${produtos}"
                        th:title="|Data ultima compra: 12-12-2022&#13;&#10;Data ultima venda: 27-12-2022|">
                        <td class="text-center" th:text="${produto.idProduto}"></td>
                        <td class="text-center" th:text="${produto.ean}"></td>
                        <td th:text="${produto.descricao}"></td>
                        <td class="text-right" th:text="${#numbers.formatDecimal(produto.quantidadeEstoque,1,3)}">0</td>
                        <td class="text-right" th:text="${#numbers.formatDecimal(produto.precoCompra,1,2)}"></td>
                        <td class="text-right" th:text="${#numbers.formatDecimal(produto.precoCusto,1,2)}"></td>
                        <td class="text-right" th:text="${#numbers.formatDecimal(produto.precoMargemZero,1,2)}"></td>
                        <td class="text-right" th:text="${#numbers.formatPercent((produto.margemLucro/100),1,2)}"></td>
                        <td class="text-right"
                            th:text="${#numbers.formatPercent((produto.margemPraticada/100),1,2)}"></td>
                        <td class="text-right" th:text="${#numbers.formatDecimal(produto.precoVenda,1,2)}"></td>
                        <td class="text-center">
                            <a class="js-tooltip mr-1" title="Editar"
                               th:href="@{/produtos/{id}(id=${produto.idProduto})}">
                                <i class="fa fa-pencil-alt"></i>
                            </a>
                            <a class="js-tooltip  js-exclusao-btn"
                               title="Excluir" href="#"
                               data:url="@{/produtos/{id}(id=${produto.idProduto})}"
                               data:objeto="${produto.descricao}">
                                <i class="fa fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    <tr th:if="${produtos.isEmpty()}">
                        <td colspan="11">Nenhum produto cadastrado!</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>